<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Ecommerce Site{% endblock %}</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="errorPopup" class="error-popup alert alert-danger fade" role="alert">
  <span class="error-message" id="errorMessage"></span>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">My Ecommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="navigationbar">
        <li class="nav-item">
          <a class="nav-link" href="#" id="homeLink">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="productsLink">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="usersLink">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="ordersLink">Orders</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container mt-5">
  {% block content %}{% endblock %}
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
  // Function to show error message
  function showErrorMessage(message) {
    $("#errorMessage").text(message);
    $("#errorPopup").addClass("show");
    setTimeout(function() {
      $("#errorPopup").removeClass("show");
    }, 3000); // 3000 milliseconds = 3 seconds
  }

  var currentUrl = window.location.href;
  if (currentUrl.includes("/myapp/products")) {
    $("#productsLink").addClass("active");
  } else if (currentUrl.includes("/myapp/users")) {
    $("#usersLink").addClass("active");
  } else if (currentUrl.includes("/myapp/orders")) {
    $("#ordersLink").addClass("active");
  } else {
    $("#homeLink").addClass("active");
  }

  // Click event for Home link
  $('#homeLink').click(function(e) {
    e.preventDefault();
    window.location.href = 'http://127.0.0.1:8000/';
  });

  // Click event for Products link
  $('#productsLink').click(function(e) {
    e.preventDefault();
    // Make API request to navigate to products page
    $.ajax({
      url: '/myapp/products',
      method: 'GET',
      success: function(response) {
        window.location.href = '/myapp/products';
      },
      error: function(xhr, status, error) {
        console.error(xhr.responseText);
        showErrorMessage("Failed to load products page");
      }
    });
  });

  // Click event for Users link
  $('#usersLink').click(function(e) {
    e.preventDefault();
    // Make API request to navigate to users page
    $.ajax({
      url: '/myapp/users/',
      method: 'GET',
      success: function(response) {
        window.location.href = '/myapp/users';
      },
      error: function(xhr, status, error) {
        console.error(xhr.responseText);
        showErrorMessage("Failed to load users page");
      }
    });
  });

  // Click event for Orders link
  $('#ordersLink').click(function(e) {
    e.preventDefault();
    // Make API request to navigate to orders page
    $.ajax({
      url: '/myapp/orders',
      method: 'GET',
      success: function(response) {
        window.location.href = '/myapp/orders';
      },
      error: function(xhr, status, error) {
        console.error(xhr.responseText);
        showErrorMessage("Failed to load orders page");
      }
    });
  });
});


</script>
</body>
</html>
